@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("../../public/Pattern.png"); */

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: black;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hygiene {
  background-image: url("../../public/Pattern.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #0a3a6b;
  border-radius: 20px;
  height: 80vh;
}

.bounce:hover {
  -webkit-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  30% {
    transform: scale(1.1, 1.1) translate(0px, 0px);
  }

  75% {
    /* transform: scale(1,1.1) translate(0px, 0px);  */
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}

